<div class="container">
  <nav class="breadcrumb" aria-label="breadcrumbs">
    <ul>
      <li><%= link_to "Home", '/' %></li>
      <li><%= link_to "Root Notes", root_notes_path %></li>
      <li class="is-active"><%= link_to @chord.root_note.note_name_with_flat, root_note_root_notes_chords_path(@chord.root_note.note_name_with_flat) %></li>
    </ul>
  </nav>
</div>
<div class="section">
  <div class="container">
    <% @chords.each do |chord| %>
      <article class="media">
        <div class="media-content">
          <div class="content">
            <h1><%= link_to chord.chord_name_with_flat, root_note_root_notes_chord_path(chord.root_note.note_name_with_flat, chord.chord_name_with_flat), class: "has-text-black" %></h1>
            <div class="tags">
              <%= link_to "#{chord.root_note.note_name_with_flat}", root_note_root_notes_chords_path(chord.root_note.note_name_with_flat), class: "tag" %>
              <%= link_to "#{chord.chord_modifier_name}", chord_modifier_chord_modifiers_chords_path(chord.chord_modifier_name), class: "tag" %>
            </div>
            <p>
              <span><%= chord.root_note&.note_name_with_flat %></span>
              <span><%= chord.third&.note_name_with_flat %></span>
              <span><%= chord.fifth&.note_name_with_flat %></span>
              <span><%= chord.seventh&.note_name_with_flat %></span>
            </p>
          </div>
        </div>
      </article>
    <% end %>
  </div>
</div>
