<div class="container">
  <nav class="breadcrumb" aria-label="breadcrumbs">
    <ul>
      <li><%= link_to "Home", '/' %></li>
      <li class="is-active"><%= link_to "Chord Modifiers", chord_modifiers_path %></li>
    </ul>
  </nav>
</div>
<div class="container">
  <p>
    <h2>mmaj7</h2>
    <%= link_to "mmaj7", chord_modifier_chord_modifiers_chords_path("mmaj7") %>
  </p>

  <p>
    <h2>min7</h2>
    <%= link_to "min7", chord_modifier_chord_modifiers_chords_path("min7") %>
  </p>

  <p>
    <h2>maj7</h2>
    <%= link_to "maj7", chord_modifier_chord_modifiers_chords_path("maj7") %>
  </p>

  <p>
    <h2>dim7</h2>
    <%= link_to "dim7", chord_modifier_chord_modifiers_chords_path("dim7") %>
  </p>

  <p>
    <h2>min</h2>
    <%= link_to "min", chord_modifier_chord_modifiers_chords_path("min") %>
  </p>

  <p>
    <h2>maj</h2>
    <%= link_to "maj", chord_modifier_chord_modifiers_chords_path("maj") %>
  </p>

  <p>
    <h2>aug</h2>
    <%= link_to "aug", chord_modifier_chord_modifiers_chords_path("aug") %>
  </p>

  <p>
    <h2>dim</h2>
    <%= link_to "dim", chord_modifier_chord_modifiers_chords_path("dim") %>
  </p>
</div>
