<div class="container">
  <nav class="breadcrumb" aria-label="breadcrumbs">
    <ul>
      <li><%= link_to "Home", '/' %></li>
      <li class="is-active"><%= link_to "Chord Modifiers", chord_modifiers_path %></li>
    </ul>
  </nav>
</div>
<div class="section">
  <div class="container">
    <article class="media">
      <div class="media-content">
        <div class="content">
          <h1><%= link_to "mmaj7", chord_modifier_chord_modifiers_chords_path("mmaj7"), class: "has-text-black" %></h1>
        </div>
      </div>
    </article>
    <article class="media">
      <div class="media-content">
        <div class="content">
          <h1><%= link_to "min7", chord_modifier_chord_modifiers_chords_path("min7"), class: "has-text-black" %></h1>
        </div>
      </div>
    </article>
    <article class="media">
      <div class="media-content">
        <div class="content">
          <h1><%= link_to "maj7", chord_modifier_chord_modifiers_chords_path("maj7"), class: "has-text-black" %></h1>
        </div>
      </div>
    </article>
    <article class="media">
      <div class="media-content">
        <div class="content">
          <h1><%= link_to "7", chord_modifier_chord_modifiers_chords_path("7"), class: "has-text-black" %></h1>
        </div>
      </div>
    </article>
    <article class="media">
      <div class="media-content">
        <div class="content">
          <h1><%= link_to "dim7", chord_modifier_chord_modifiers_chords_path("dim7"), class: "has-text-black" %></h1>
        </div>
      </div>
    </article>
    <article class="media">
      <div class="media-content">
        <div class="content">
          <h1><%= link_to "min", chord_modifier_chord_modifiers_chords_path("min"), class: "has-text-black" %></h1>
        </div>
      </div>
    </article>
    <article class="media">
      <div class="media-content">
        <div class="content">
          <h1><%= link_to "maj", chord_modifier_chord_modifiers_chords_path("maj"), class: "has-text-black" %></h1>
        </div>
      </div>
    </article>
    <article class="media">
      <div class="media-content">
        <div class="content">
          <h1><%= link_to "aug", chord_modifier_chord_modifiers_chords_path("aug"), class: "has-text-black" %></h1>
        </div>
      </div>
    </article>
    <article class="media">
      <div class="media-content">
        <div class="content">
          <h1><%= link_to "dim", chord_modifier_chord_modifiers_chords_path("dim"), class: "has-text-black" %></h1>
        </div>
      </div>
    </article>
  </div>
</div>
