<div class="container">
  <p>
    <h1><%= @chord.chord_name_with_flat %></h1>
  </p>

  <p>
    <h2><%= @chord.root_note.note_name_with_flat %></h2>
  </p>

  <p>
    <h2><%= @chord.third.note_name_with_flat %></h2>
  </p>

  <p>
    <h2><%= @chord.fifth.note_name_with_flat %></h2>
  </p>

  <p>
    <h2><%= @chord.seventh&.note_name_with_flat %></h2>
  </p>
</div>
