<div class="container">
  <nav class="breadcrumb" aria-label="breadcrumbs">
    <ul>
      <li><%= link_to "Home", '/' %></li>
      <li><%= link_to "Chord Modifiers", chord_modifiers_path %></li>
      <li><%= link_to @chord.chord_modifier_name, chord_modifier_chord_modifiers_chords_path(@chord.chord_modifier_name) %></li>
      <li class="is-active"><%= link_to @chord.chord_name_with_flat, chord_modifier_chord_modifiers_chord_path(@chord.chord_modifier_name, @chord.chord_name_with_flat) %></li>
    </ul>
  </nav>
</div>
<div class="container">
  <p>
    <h1><%= @chord.chord_name_with_flat %></h1>
  </p>

  <p>
    <h2><%= @chord.root_note.note_name_with_flat %></h2>
  </p>

  <p>
    <h2><%= @chord.third.note_name_with_flat %></h2>
  </p>

  <p>
    <h2><%= @chord.fifth.note_name_with_flat %></h2>
  </p>

  <p>
    <h2><%= @chord.seventh&.note_name_with_flat %></h2>
  </p>
</div>
